@model IEnumerable<BrainenceTask.Models.SearchWord>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label>File</label>
        <input type="file"  name="uploadedFile" />
    </div>
    <div class="form-group">
        <label>Searching word</label><br />
        <input type="text" name="word" />
    </div>
    <input class="btn btn-primary" type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sentence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    </tbody>
</table>

